extends base.pug

block content

    section.wrapper

      form(method="POST", action="/recommend-skills/")
        {{csrf_input}}

        .input-group
          span.input-group-label List the skills needed to be a:
          input.input-group-field(type='text' name='job-title')
          .input-group-button
            input.button(type='submit' value='Submit')
