<!DOCTYPE html>
<html lang="en">

<head>
  <title>Skills Review</title>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="{{static('app.css')}}" type="text/css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet" />
</head>

<body>
  <main>

    <div class="flex h-screen">
      <div class="m-auto bg-white p-4 rounded-md min-w-[545px] shadow-sm">
        <h1 class="text-3xl font-bold">Skills Review</h1>

        {% if request.user.is_authenticated %}
        <div class="flex flex-col space-y-4 mt-8">
          <a href="{{url('builder')}}""
                    class=" underline text-[#1976D2]">Builder</a>
          <a href="{{url('survey')}}" class="underline text-[#1976D2]">Survey</a>
        </div>
        {% endif %}

        <div class="flex space-x-4 justify-end mt-14">
          {% if request.user.is_authenticated %}
          <p>
            <a href="{{url('account_logout')}}"
              class="px-4 py-2 rounded-md bg-[#1976D2] text-white hover:bg-[#064B9A]">Logout</a>
          </p>
          {% else %}
          <a href="{{url('account_login')}}"
            class="px-4 py-2 rounded-md bg-[#666666] text-white hover:bg-[#AEAEAE]">Login</a>
          <a href="{{url('account_signup')}}"
            class="px-4 py-2 rounded-md bg-[#1976D2] text-white hover:bg-[#064B9A]">Register</a>
          {% endif %}
        </div>

      </div>
    </div>


  </main>
</body>

</html>
