extends base.pug

block content

    section.wrapper

      form(method="POST")
        {{csrf_input}}

        <input type="hidden" name="source" value="{{source|default('openai')}}">
        +macros.input_group("job-title", "List the skills needed to be a:", with_submit=True)
