extends base.pug
{% import 'macros.html' as macros with context %}

block content

  section.wrapper
    h1 {{recommendation.job_title}}
    h3 Which skills were accurate?

    form(method="POST")
      {{csrf_input}}
      ul.rec
        - for skill in recommendation.skills
          li
            +macros.checkbox(skill, skill)

      input.button.success.float-right(type='submit' value='Save')
