extends base.pug
{% import 'macros.html' as macros with context %}

block content

  section.wrapper
    h1 {{recommendation.job_title}}
    h2 Which skills were accurate?

    form(method="POST")
      {{csrf_input}}
      div.grid-x

        - for skill in recommendation.skills
          div.large-3.cell
            +macros.checkbox(skill, skill)

      input(type='submit' value='Submit')
