<!DOCTYPE html>
<html lang="en">

<head>
  <title>Skills Review</title>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="{{static('app.css')}}" type="text/css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet" />
</head>

<body>
  <main>
    <div class="flex">
      <div class="w-full max-w-4xl p-4 m-auto bg-white rounded-md shadow-sm md:mt-24">
        <h1 class="mb-6 text-3xl font-bold">Skills Review</h1>
        {% for first_level_name in skills_map %}
        <div class="py-4 border-b-2">
          <h3 class="mb-4 text-2xl text-[#00897B]">{{first_level_name}}</h3>
          <ul class="grid gap-4 md:grid-cols-2">
            {% for second_level_name in skills_map[first_level_name] %}
            <li>
              <h4 class="mb-1 text-xl text-[#666666]">{{second_level_name}}</h4>
              <ul class="space-y-0.5">
                {% for skill in skills_map[first_level_name][second_level_name] %}
                <li>
                  <a class="underline text-[#1976D2] font-medium hover:text-[#064B9A]"
                    href="{{url('skill', kwargs={'skill_slug': slugify(skill.name)})}}">{{skill.name}}</a>
                  {% if skill.has_delete_flag %}
                  <span
                    class="inline-block py-1 px-1.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-red-600 text-white rounded ml-2">!!</span>
                  {% endif %}
                  {% if skill.has_rename_flag %}
                  <span
                    class="inline-block py-1 px-1.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-yellow-500 text-white rounded ml-2">??</span>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>


  </main>
</body>

</html>
