<!DOCTYPE html>
<html lang="en">

<head>
  <title>People Survey</title>
  <meta name="viewport" content="width=device-width" />
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/survey-jquery@1.9.46/survey.jquery.min.js"></script>
  <link href="https://unpkg.com/survey-core@1.9.46/defaultV2.min.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="{{static('app.css')}}">
  <link rel="stylesheet" href="{{static('survey.css')}}">
  <script src="https://unpkg.com/inputmask@5.0.3/dist/inputmask.js"></script>
  <script src="https://unpkg.com/surveyjs-widgets@1.9.46/surveyjs-widgets.min.js"></script>
</head>

<body style="margin: 0">
  <div id="surveyElement" style="display:inline-block;width:100%;"></div>
  <div id="surveyResult"></div>
  <script type="text/javascript" src="{{static('survey.js')}}"></script>
</body>

</html>